

/*#menuh-container
	{
	position: absolute;		
	top: 1em;
	left: 1em;
	}*/
        #menu {
            
            margin: 0;
            padding: 0;
           
        }
        #menu ul{
            
            margin: 0;
            padding: 0;
            line-height:30px;
            
        }
        #menu li{
            
            margin: 0;
            padding:0;
            list-style: none;
            float:left;
            position:relative;
            background: #09F;
            
        }
        #menu ul li a{
            text-align:center;
            font-family:"Comic Sans MS",cursive;
            text-decoration:none;
            height: 30px;
            width: 150px;
            display: block;
            border: 1px solid #000;
            color: #FFF;
            
        }
        #menu ul ul{
            
            position:absolute;
            visibility: hidden;
            top:30px;
        }
        #menu ul li:hover ul{
            
            visibility: visible;
        }
        #menu li:hover{
            background: #09F;
            
        }
        #menu ul li:hover ul li a:hover{
            
            background: #007FBF;
            color: #000;
        }